@font-face {
    font-family: "Iransans";
    src: url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IranSansWeb-FaNum-Light.eot"),
      url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IranSansWeb-FaNum-Light.woff2") format("woff2"),
      url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IranSansWeb-FaNum-Light.woff") format("woff"),
      url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IranSansWeb-FaNum-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Iransans-bold";
    src: url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IRANSansWeb-FaNum-Bold.woff2"),
      url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IRANSansWeb-FaNum-Bold.woff"),
      url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IRANSansWeb-FaNum-Bold.ttf"),
      url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IRANSansWeb-FaNum-Bold.eot");
  }
  
  
  @font-face {
    font-family: "Iransans-medium";
    src: url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IRANSansWeb_Medium.eot"),
         url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IRANSansWeb_Medium.woff2");
  }
  
  
  @font-face {
    font-family: "Iransans-ulight";
    src: url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IRANSansWeb_UltraLight.eot"),
         url("https://sharedassets.s3.ir-thr-at1.arvanstorage.com/IRANSansWeb_UltraLight.woff2");
  }
  
  body,
  div,
  span,
  p,
  li,
  a {
    font-family: Iransans, "Segoe UI", Tahoma, FontAwesome, Iransans-bold,
      Iransans-medium sans-serif !important;
  }

  h1 {
      font-family: Iransans-bold, "Segoe UI", Tahoma, FontAwesome, Iransans-bold,
      Iransans-medium sans-serif !important;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Iransans-medium, "Segoe UI", Tahoma, FontAwesome, Iransans-bold,
    Iransans-medium sans-serif !important;
  }